.feature {
  display: flex;
  align-items: stretch;
  gap: 0px;
  margin-bottom: 0px;
}

.feature.reverse {
  flex-direction: row-reverse;
}

.feature-image {
  width: 70%;
  border-radius: 0px;
  object-fit: cover;
  border-style: groove;
  border: #000000;
}

.feature-text {
  flex: 1;
  /* Занимает оставшееся пространство */
  background-color: rgba(0, 0, 0, 0.3);

  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  /* Выравнивание контента по вертикали */
  padding: 20px;
  /* Добавляем отступы для текста */
  box-sizing: border-box;
  /* Учитываем padding в общей ширине */
}

.feature-text h3 {
  font-size: 2.6rem;
  margin-bottom: 12px;
  padding: 2vh;
}

.feature-text p {
  font-size: 1.3rem;
  margin-bottom: 16px;
  color: #bdb9b9;
}

@media (max-width: 768px) {
    .feature {
    flex-direction: column;
  }

  .feature.reverse {
    flex-direction: column;
  }

  .feature-image,
  .feature-text {
    width: 100%;
  }

  .feature-text {
    text-align: center;
  }
}