main {
    max-width: 90%;
}


.order-list {
    background-color: rgba(33, 29, 15, 0.8);
    border-radius: 30px;
    padding: 10px;
}

.order {
    display: grid;
    grid-template-columns: 80px 1fr 120px 100px 120px;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.order:last-child {
    border-bottom: none;
}

.order .order-img-container {
    text-align: center;
    align-items: center;
    min-width: 60px;
}

.order .food-image {
    aspect-ratio: 100%;
    max-height: 50px;
    max-width: 100%;
    width: auto;
    border-radius: 8px;

}

.order h3,
.order p,
.order strong {
    font-size: 1rem;
    margin: 0;
}

.count {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remove-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .remove-icon {
        width: 26px;
        height: 26px;
    }

    .order-list {
        border-radius: 0px;
    }

    main {
        max-width: 100%;
    }

    .order {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        height: 60px;
        max-width: 100%;
    }

    .order .food-image {
        aspect-ratio: 100%;
        max-height: 50px;
        max-width: 60px;
        width: auto;
        border-radius: 8px;
    }

    .order h3,
    .order p {
        font-size: 15px;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    .info-row {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

}