h1,
h2 {
  font-family: 'Pacifico', cursive;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  color: #dbcc69;

  background-color: #1a160e;
  background-image: url('img/back.png');
  background-size: 50vh;
}

header {
  background-color: rgba(17, 14, 1, 0.8);
  padding: 1em;
  padding-bottom: 0em;
  text-align: center;
  border-style: none none solid none;
}

img {
  width: 100%;
}

/* Основные стили для навигации */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  position: relative;
  /* Добавляем, чтобы кнопка оставалась поверх меню */
  z-index: 10;
  /* Кнопка будет над меню */
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.menu-header {
  display: none;
  /* по умолчанию скрыто */
}

.menu-toggle {
  display: none;
  position: fixed;
  right: 2vh;
}

footer {
  background-color: #e48e05;
  text-align: center;
  padding: 1em;
}

footer p {
  color: rgb(50, 45, 26);
  ;
}

main {
  min-height: calc(100vh - 100px);
  /* 100px — примерная высота футера */
  margin: 0 auto;
  padding: 0px 0px;
  font-family: 'Segoe UI', sans-serif;
}

.button {
  display: inline-block;
  font-size: 1.2rem;
  background-color: #cb8654;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  min-width: 90%;
  text-align: center;
}

.button:hover {
  background-color: #a8622f;
}

.order-list {
    display: flex;
    flex-direction: row;
}

.order {
    display: flex;
    flex-direction: row;
}