<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Пекарня "Хлебная лавка"</title>
    <link rel="stylesheet" href="css/main_styles.css" />
    <link rel="stylesheet" href="css/about_styles.css" />

</head>

<body style="background-image: url('img/back.png');">
    <%- include('navbar') %>

        <main>

            <div style="width: 200px; margin: 3vh;" class="my-head">
                <p>Где нас найти:</p>
                <hr>
            </div>

            <div class="locations">

                <div class="location-card">
                    <div class="interactive-space">
                        <div class="location-map" style="display:none; position: relative;">
                            <iframe src="https://yandex.ru/map-widget/v1/?ll=56.038556%2C54.794741&mode=poi&poi%5Bpoint%
                                5D=56.039119%2C54.794903&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D21864776413&z=18.6"
                                frameborder="1" allowfullscreen="true" style="position:relative; ">
                            </iframe>
                            <div class="close-map" style="background-color: black; width:24px; 
                            height:24px; position: absolute; top:0; right:0;">X</div>
                        </div>
                        <img class="location-img" src="locations/img/prospekt_180.avif">
                    </div>
                    <div class="location-info">
                        <div style="display: flex; flex-direction: row; gap: 6px;">
                            <strong>Адрес:</strong><a>Проспект Октября, 180</a>
                        </div>
                    </div>
                </div>



                <div class="location-card">
                    <div class="main-section">
                        <div class="interactive-space">
                            <div class="location-map" style="display:none; position: relative;">
                                <iframe
                                    src="https://yandex.ru/map-widget/v1/?ll=55.841191%2C54.713299&mode=search&oid=214294837675&ol=biz&z=16.84"
                                    frameborder="1" allowfullscreen="true" style="position:relative;">

                                </iframe>
                                <div class="close-map" style="background-color: black; width:24px; 
                            height:24px; position: absolute; top:0; right:0;">X</div>
                            </div>
                            <img class="location-img" src="locations/img/general.avif">
                        </div>
                        <div class="location-info">
                            <div style="display: flex; flex-direction: row; gap: 6px;">
                                <strong>Адрес:</strong><a>Генерала Кусимова, 15/2</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="location-card">
                    <div class="interactive-space">
                        <div class="location-map" style="display:none; position: relative;">
                            <iframe
                                src="https://yandex.ru/map-widget/v1/org/khlebnaya_lavka/119090603421/?ll=55.965087%2C54.728311&z=16"
                                frameborder="1" allowfullscreen="true" style="position:relative;">

                            </iframe>
                            <div class="close-map" style="background-color: black; width:24px; 
                            height:24px; position: absolute; top:0; right:0;">X</div>
                        </div>
                        <img class="location-img" src="locations/img/kirova.avif">
                    </div>
                    <div class="location-info">
                        <div style="display: flex; flex-direction: row; gap: 6px;">
                            <strong>Адрес:</strong><a>ул. Кирова, 46</a>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <%- include('footer') %>
            <script src="js/main.js"></script>
            <script src="../js/about.js"></script>
</body>

</html>