<footer style="display: flex; flex-direction: flow; justify-content:  space-around; font-size: 20px">
    <p>Да</p>
    <p>&copy; 2025 Пекарня "Хлебная лавка"</p>
    <p>+7 (917) 425-16-68</p>
</footer>