<footer style="display: flex; flex-direction: flow; 
        justify-content:  space-around; font-size: 20px; align-items: center;">

    <div>
        <a style="text-decoration: none;" href="https://wa.me/79174251668">
            <img style="width: 5vh; height: 5vh; cursor: pointer;" src="img/whatsapp-icon.png">
        </a>
        <a style="text-decoration: none;" href="https://vk.com/hlebnaya_lavka">
            <img style="width: 5vh; height: 5vh; cursor: pointer;" src="img/vk-icon.png">
        </a>
        <a style="text-decoration: none;" href="https://t.me/79174251668">
            <img style="width: 5vh; height: 5vh; cursor: pointer;" src="img/telegram-icon.png">
        </a>
    </div>
    <p>&copy; 2025 ООО ХЛЕБНАЯ ЛАВКА</p>
    <a style="text-decoration: none;" href="tel:89174251668">
        <p>+7 (917) 425-16-68</p>
    </a>
        
</footer>

