<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Пекарня "Хлебная лавка"</title>
  <link rel="stylesheet" href="css/main_styles.css" />
  <link rel="stylesheet" href="css/order_styles.css" />
</head>

<body style="background-image: url('img/back.png');">
  <%- include('navbar') %>
    <main>
      <div id="empty-cart" style="vertical-align: top; display: inline-block; text-align: center; position: absolute;
    left: 42%; top: 50%">
        <img style="width: 256px; height: 256px;" src="img/empty_cart.png">
        <a class="caption" style="display: block">Ваша корзина пуста</a>
      </div>
      <div id="order-list" class="order-list" style="display: none;"></div>
      <div stlye="align-items: center; text-align: center; justify-content: center;">
        <div id="order-button" class="button" style="position: relative; display: none;">Оформить заказ</div>
      </div>
    </main>

    <%- include('footer') %>
      <script src="../js/cart.js"></script>
      <script src="../js/createProductCart.js"></script>
      <script src="../js/order.js"></script>
</body>

</html>